.Card {
    flex: 0 1 200px;
    border-radius: 5%;
    margin: 10px;
    height: 200px;
    width: 200px;

    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-evenly;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    transition: background-color ease 1.5s;

    h1,
    h3 {
        padding: 0;
        line-height: 100%;
        text-align: center;
    }

    h3 {
        padding-bottom: 5px;
    }
}