.App {
  display: flex;
  min-height: 100vh;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  transition: background-color ease 1.5s;
}

@media (max-width: 440px) {
  .App {
    justify-content: space-between;
  }
}